@import '@tabler/icons-webfont/dist/tabler-icons.min.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: 'Trebuchet MS', 'Segoe UI', 'Verdana', sans-serif;
	background: #f6f2fb;
	color: #2b1b4d;
}

img {
	max-width: 100%;
	display: block;
}

button,
input,
textarea {
	font-family: inherit;
}
